@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'kantumruy';
    src: url('./assets/fonts/KantumruyPro-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'kantumruy', sans-serif;
}

/* for safe area */

.adm-nav-bar {
    margin-top: 2.5rem !important;
    
}

.safe-area-inset-bottom {
    margin-top: 2.5rem !important;
}